// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

body {
  min-height: 100vh;
  position: relative;
}

#main-frame {
 margin-bottom: 200px;
}
