
     <div class="footer">
      <div class="footer-contact-info">
        <p><u>Contactez nous:</u></p>
        <p><u>Téléphone: 08 35 65 65 65</u></p>
        <p><u>Email:</u> contact@mountaintrip.com</p>


          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>

      </div>
    </div>
