

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Trip +", "#", class: "navbar-wagon-item navbar-wagon-link" %>
    <% else %>
      <!-- Login link (when logged out) -->
        <%= link_to "S'inscrire", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      
    <% end %>
  </div>



