.card-iti {
  height: 300px;
  color: white;
  position: relative;
  margin-top: 10px;
  border-radius: 2px;
  transition-duration: 1.5s;
  box-shadow:2px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  img {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9));
    height:100%;
    width: 100%;
    max-width:100%;
    transition: all 1.5s;
    object-fit: cover !important;
    background-position: center;
  };
  &:hover {
        border-radius:4px;
        transition-duration: 1.5s;
        transition-timing-function: ease;
        img{
          transform: scale(1.2);
        }
        .btn.outline {
          transition-duration: 1.5s;
          transition-timing-function: ease;

          background-color: rgba( 100, 100, 100, 0.7);
          &:hover {
            transition-duration: 0.2s;
            background-color: rgba( 45, 45, 45, 0.9);
          }
        }
    }
}


.card-iti-description {
  padding-left: 3px;
  position: absolute;
  top: 0px;
  right: 0px;
  color: rgb(75, 75, 75);
  background-color: rgba( 230, 230, 230, 0.8);
  width: 10%;
  height:100%;
  transition-duration: 1.5s;
  transition-timing-function: ease;

}


.card-iti-element-invisible {
  opacity: 0;
  transition-duration: 1.5s;
  transition-timing-function: ease;
}

.card-iti-element-up {
  width: 68%;
}
