.card-iti {
  height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 15px;
  border-radius: 2px;
  transition-duration: 1.5s;
  box-shadow:2px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

  img {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9));
    height:100%;
    width: 100%;
    max-width:100%;
    transition: all 1.5s;
  };
  &:hover {
        border-radius:4px;

        transition-duration: 1.5s;
        transition-timing-function: ease;
        img{
          transform: scale(1.2);

        }
    }
}


.card-iti-description {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba( 255, 255, 255, 0.8);
  width: 10%;
  height:100%;
  transition-duration: 1.5s;
  transition-timing-function: ease;

}


.card-iti-element-invisible {
  opacity: 0;
  transition-duration: 1.5s;
  transition-timing-function: ease;
}

.card-iti-element-up {
  width: 50%;
}
