.footer {
  height: 200px;
  padding: 0px 50px;
  background-color: rgba(20,20,20,0.9);
  border-color: white;
  padding-top: 20px;

  p {
    color: rgba(233,233,233,0.7);

  p:hover {
    color: rgba(233,233,233,0.9);
    }
}
  .fab {
    &:hover {
      color: rgba(233,233,233,0.95);
      transition-duration: 0.3s;
      transition-timing-function: linear;
    }
  }

   a {
    color: rgba(233,233,233,0.7);
    font-size: 24px;
    padding: 0px 10px;
  }



}
