.footer {
  height: 200px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    background: linear-gradient(to right, #F0FBEF 50%, #96BE8C 50%);
    background-size: 200% 100%;
    background-position:left bottom;}
  p:hover {
    background: linear-gradient(to right, #F0FBEF 50%, #96BE8C 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 2s ease
    }

  .fab {
    &:hover {
      font-size: 2em;
      transition-duration: 0.3s;
      transition-timing-function: linear;
    }
  }


   a {
    color: black;
    opacity: 0.15;
    font-size: 24px;
    padding: 0px 10px;
  }



}
