// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "card";
@import "logo";
@import "footer";
@import "message";
@import "avatar";
@import "map";
@import "tabs";
@import "dateform";

body {
  background-color: rgba(98, 148, 96, 0.1);
  display:table;
  height: 100%;
    width: 100%;
    margin: 0;
}

.btn {
  background-color: rgb(98,148,96);
  border-color: rgb(98, 148, 96);
}

.form-control {
  margin-bottom: 10px;
}
