// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "card";
@import "card-iti";
@import "logo";
@import "footer";
@import "message";
@import "avatar";
@import "map";
@import "tabs";
@import "logform";
@import "button";
@import "list";

body {
  background-color: #edf0f0;
  display:table;
  height: 100%;
    width: 100%;
    // margin-top: 70px;
}

.btn {
  background-color: rgb(98,148,96);
  border-color: rgb(98, 148, 96);
}
.container.itinerary {
  margin-bottom: 60px;
}

.form-control {
  margin-bottom: 10px;
}

#itinerary-content {
  h2 {
    font-size: 21px;
    font-weight: 500;
    margin-left: 4px;
  }
  text-align: justify;
}

.trip-element {
  background-color: #f7f9f9;
  padding: 20px 40px;
  margin: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0px 3px 15px #989898;
}

h4 {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #262959;
}
