// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "card";
@import "card-iti";
@import "logo";
@import "footer";
@import "message";
@import "avatar";
@import "map";
@import "tabs";
@import "logform";
@import "button";
@import "list";

body {
  background-color: white;
  display:table;
  height: 100%;
    width: 100%;
    margin: 0;
}

.btn {
  background-color: rgb(98,148,96);
  border-color: rgb(98, 148, 96);
}
.container.itinerary {
  margin-bottom: 60px;
}

.form-control {
  margin-bottom: 10px;
}

.description p {
  text-align: justify;
}
