.my-form {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  position: relative;
}

.form-actions {
  display: flex;
  justify-content: center;
}
// .btn.btn.btn-primary {
//   width: 50%;
// }

.form-footer {
  width: 80%;
  justify-content: center;
  text-decoration: none;
  display:inline;
  a {
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    &:hover {
      color: rgba(255, 255, 255, 0.9);
    }
  }
}

.form-footer-links {
  border-color: black;
  background-color: red;
  width: 100%;
}

.form-container{
  width: 80%;
}

#trip_title {
  opacity: 0.5;
  &:focus {
    opacity: 0.7;
  }
}

#user_email {
  opacity: 0.5;
  &:focus {
    opacity: 0.7;
  }
}

#user_password {
  opacity: 0.5;
  &:focus {
    opacity: 0.7;
  }
}

#user_password_confirmation {
  opacity: 0.5;
  &:focus {
    opacity: 0.7;
  }
}

#user_user_name {
  opacity: 0.5;
  &:focus {
    opacity: 0.7;
  }
}



.form-group.row.string.optional.trip_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.form-group.row.date.required.trip_start_date {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-group.row.date.required.trip_end_date{
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.form-group.row.mb-0 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-form-title{

}


