// app/assets/stylesheets/components/_map.scss
.mapboxgl-popup {
  max-width: 300px;
  margin: 20px;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 15px 15px;
  h3 {
    color: rgba(0,0,0,0.7);
    font-size: 20px;
    font-weight: 600;
  }
  h4 {
    color: rgba(0,0,0,0.65);
    font-size: 14px;
  }
  a {
    font-size: 14px;
    text-decoration: none;
  }
  a:hover {
    color: rgba(0,0,0,0.80);
  }
}
