/* Main navbar */
.navbar-mountain {
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  // background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fixed-navbar {
  background: white;
  color: rgba(78, 78, 78, 0.85);
}

.navbar-invisible {
  opacity: 0;
}

.navbar-green {
    background: white;
}
/* Logo */
.navbar-mountain-logo img {
  height: 50px;
}


.navbar-mountain-logo img {
  height: 50px;
}


/* User Avatar */
.navbar-mountain .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-mountain-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-mountain-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-mountain-link {

  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}
.navbar-mountain-link:hover {

  transition:all 0.4s ease;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-mountain-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  opacity:0.8;
}
.navbar-mountain-dropdown-menu li > a {
  transition: color 0.5s ease;
  font-weight: lighter !important;
  color: #243119 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
  opacity: 0.7;
}
.navbar-mountain-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
  opacity: 1;
  font-style: bold;

}
.navbar-mountain-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: rgba(0, 0, 0, 0);
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
